

<ion-content class="img no-scroll">
  <form action="" (ngSubmit)="onSubmit()" class="form">
    <ion-item class="bkColor" style="text-align: center;">
      <ion-label style="color:white;font-size: x-large;">Recuperar Senha</ion-label>
    </ion-item>
    
    
    <ion-item class="bkColor">
      <ion-button style="margin-left:5%;width:90%;" type="submit" color="primary" expand="block"
          >Confirmar</ion-button>
    </ion-item>
    <ion-item class="bkColor" style="text-align:center">
      <!--ion-router-link color="light">Esqueci minha senha</ion-router-link-->
      <ion-label for="" color="light" (click)="returnLogin()">Voltar</ion-label>
    </ion-item>
  </form>
  <ion-row style="height: 58vh;position:absolute" class="ion-justify-content-center">
    <ion-img src="assets/img/logo.png" style="width: 50%"></ion-img>
  </ion-row>
</ion-content>
