<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Thaga GC - Planogram View</ion-list-header>
          <!--ion-note>hi@ionicframework.com</ion-note-->

          
          <ion-menu-toggle auto-hide="false" >
            <ion-item lines="none" detail="false" [routerLink]="['contacts']" style="margin-top: 20px;">
              <ion-icon name="person-add-outline"></ion-icon>
              <ion-label>&nbsp; Planogram View</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item lines="none" detail="false" (click)="close()">&nbsp;
              <ion-icon name="exit-outline"></ion-icon>
              <ion-label>&nbsp; Sair</ion-label>
            </ion-item>
          </ion-menu-toggle> 
        </ion-list>

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
